/* Navbar.css */

.CompanyName h1 {
  font-size: 20px;
  padding: 0%;
  letter-spacing: 15px;
  padding-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  height: 50px;
  background-color: #3b3b3b;
  color: rgb(11, 11, 11);
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navbar li a:hover {
  color: #007bff;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 15px;
}

.user-section {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: #d1d1d1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  min-width: 150px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a,
.dropdown-content button {
  display: block;
  padding: 8px 10px;
  color: #1e1e1e;
  text-decoration: none;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button.logout-button:hover {
  background-color: #e7e7e7;
}
